apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5431
          env:
            - name: POSTGRES_USER
              value: "gateway"
            - name: POSTGRES_PASSWORD
              value: "gateway"
            - name: POSTGRES_DB
              value: "gateway"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5431
      targetPort: 5431
